.navbar-nav {
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.close-button {
    margin-left: auto;
}

/* Estilo para el logo de Canasta con padding izquierdo de 10 */
.navbar-brand img.logo {
    padding-left: 10px;
}

/* Estilo para el botón de toggle con margen derecho para separar más a la derecha */
button.navbar-toggler {
    margin-right: 10px;
    /* Puedes ajustar el valor según tus preferencias */
}