.navbar-nav {
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.close-button {
    margin-left: auto;
}

.navbar-brand img.logo {
    padding-left: 17px;
    padding-top: 3px;
}

button.navbar-toggler {
    margin-right: 10px;
}


.offcanvas {
    background-color: rgba(0, 0, 0, 0.8);
}

.close-button {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 24px;
}

h3 {
    padding-right: 10px
}

@font-face {
    font-family: 'Gotham';
    src: url('../public/gotham-black-italic_3w1H3/GothamBlackItalic/GothamBlackItalic.otf'),
        format('opentype'),
}

* {
    font-family: 'Gotham';

}