@font-face {
    font-family: 'Gotham';
    src: url('../public/gotham-black-italic_3w1H3/GothamBlackItalic/GothamBlackItalic.otf'),
    format('opentype')
}

* {
    font-family: 'Gotham';
    overflow: hidden;
}

.video-background {
    background: #000;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    object-fit: cover;
    object-position: center;
}

.home-text {
    
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    padding: 10px;
    opacity: 1;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    color: transparent;
    width: 100%;
    padding-left: 5%;
}

h1 {
    font-size: 200%;
}

.brands {
    position: absolute;
    top: 85%;
    transform: translate(-50%, 0%); 
    left: 50%;
}





/* .gif {
    width: 600px;
}

.imgs {
    /* justify-content: center;
    width: 50%;
    margin: auto;
    position: relative;  
}

.imgs {

        display: flex;
        justify-content: center;


        margin: 0;

}

.slogan {

    display: flex;
    justify-content: center;

    bottom: 0;

    right: 0;


    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    letter-spacing: 0.15em;
    font-family: 'Andale Mono', monospace;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
} */